<section>
  <h2 class="spec-selected-reminder">
    {{model.title}}
  </h2>
  <p>
    {{model.date}}
  </p>
  <p>
    {{model.notes}}
  </p>
  <button class="spec-link-edit-reminder">
    {{#link-to 'reminders.reminder.edit' model}}
      Edit Reminder
    {{/link-to}}
  </button>
</section>

{{outlet}}
