<h1>remEMBER</h1>
<ul>
  {{#each model as |reminder|}}
    <li class="spec-reminder-item">
      <h3>
        {{#link-to 'reminders.reminder' reminder class="spec-reminder-title" }}
          {{reminder.title}}
        {{/link-to}}
      </h3>
      <p>{{reminder.date}}</p>
    </li>
  {{/each}}
</ul>

<button>
  {{#link-to 'new-reminder' class='spec-new-reminder'}}
    add reminder
  {{/link-to}}
</button>
{{outlet}}
